---
import ReactCalc from "./ReactCalc";
import ThemeWrapper from "./ThemeWrapper.astro";
---

<section class="bg-[#F7FAF7] w-full pt-10 md:py-16" id="loancalculator">
  <ThemeWrapper>
    <header class="max-w-xl mx-auto flex flex-col text-center justify-center">
      <h1 class="font-body-bold text-2xl md:text-4xl">
        Tired of getting bitten by traditional lenders?
      </h1>
      <p class="font-body-medium text-sm md:text-base text-[#707070] mt-4">
        Motherland is duly licensed and supported by the appropriate bodies in
        both Canada and Nigeria
      </p>
    </header>
    <section
      class="relative max-w-[960px] mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-5 lg:gap-10 xl:gap-10 mt-10 md:mt-16"
    >
      <div class="bg-white p-4 md:p-10 rounded-lg">
        <h1 class="text-center font-body-bold text-base">
          With tranditional lenders
        </h1>

        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-red-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">
              A traditional mortgage with a Nigerian bank will have an interest
              rate of at least 28%
            </span>
          </div>

          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-red-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">
              You cannot pay off the loan before the end of the term without a
              penalty
            </span>
          </div>

          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-red-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">
              You need to put down additional assets as collateral
            </span>
          </div>

          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-red-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">
              If you get into hot water, you are left to figure it out on your
              own
            </span>
          </div>

          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-red-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1"> Local expertise </span>
          </div>
        </div>
      </div>

      <div class="bg-white p-4 md:p-10 rounded-lg">
        <h1 class="text-center font-body-bold text-base pt-5 md:pt-0">
          With Motherland
        </h1>
        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-green-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">
              You get an interest rate of up to {
                (() => {
                  const primeRate =
                    parseFloat(import.meta.env.PUBLIC_CANADA_PRIME) || 0;
                  const motherlandRate =
                    parseFloat(import.meta.env.PUBLIC_MOTHERLAND_RATE) || 0;
                  const totalRate = (primeRate + motherlandRate).toFixed(2);
                  return `${totalRate}`;
                })()
              }%
            </span>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-green-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1"> Pay off at anytime without penalty </span>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-green-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1"
              >All you need is your North American credit score and background
              checks</span
            >
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-green-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1"
              >We offer insurance options for unexpected circumstances that may
              make regular repayment impossible</span
            >
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-5">
          <div
            class="text-base font-body-medium flex items-center gap-2 md:gap-4"
          >
            <span
              class="bg-green-600 w-[16px] h-[16px] min-w-[16px] rounded-full flex justify-center items-center flex-shrink-0"
            >
              <img src="./images/check.svg" />
            </span>
            <span class="flex-1">Multinational presence and expertise</span>
          </div>
        </div>
      </div>

      <span
        class="font-body-medium absolute text-xl flex justify-center items-center text-center w-[70px] rounded-full h-[70px] border-[1px] border-[#f3f3f3] top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 bg-white text-[#3E3E3E]"
        >VS</span
      >
    </section>
  </ThemeWrapper>
</section>
