---
import ThemeWrapper from "./ThemeWrapper.astro";
import { Image } from "astro:assets";
import KitchenImage from "../images/kitchen.jpg";
---

<section class="bg-white pb-20">
  <ThemeWrapper>
    <section class="w-full grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-8">
      <div
        class="bg-[#713FFA] p-5 md:p-10 rounded-2xl flex flex-col justify-between items-start"
      >
        <div>
          <h5
            class="text-base md:text-2xl font-body-bold text-white capitalize"
          >
            Stop chasing your friends or brothers for not completing your
            housing project
          </h5>
          <p class="text-sm md:text-base font-body-regular text-white mt-4">
            Avoid becoming another statistic of diaspora Nigerians defrauded in
            their quest for home ownership. Instead, fast track your property
            ownership back home by accessing our trusted, reliable financing
            option that allows you to purchase your dream property right now,
            and pay on a fixed schedule (monthly or bi-weekly) at your
            convenience over a time range between 5 and 15 years.
          </p>
        </div>

        <button
          data-join-waitlist
          class="bg-white text-black mt-10 md:mt-10 py-[15px] px-8 font-body-medium text-base rounded-lg"
          >Get started</button
        >
      </div>
      <div class="w-full">
        <Image
          src={KitchenImage}
          alt="motherland kitchen design mortgages"
          decoding="async"
          loading="lazy"
          class="h-60 md:h-[420px] w-full rounded-2xl"
        />
      </div>
    </section>
  </ThemeWrapper>
</section>
