---
import ThemeWrapper from "./ThemeWrapper.astro";
---

<section>
  <ThemeWrapper>
    <section
      class="mt-5 md:mt-0 grid grid-cols-1 md:grid-cols-2 gap-7 md:gap-10"
    >
      <div
        class="flex flex-col justify-center gap-1 bg-[#F1FFE7] p-5 md:p-10 rounded-lg"
      >
        <h6
          class="text-base md:text-2xl font-body-medium text-black text-opacity-90"
        >
          Mission Statement:
        </h6>
        <p class="text-base font-body-medium pt-2 text-black text-opacity-60">
          To empower Africans in the diaspora with secure, accessible, and
          transparent financing solutions for real estate investments back home,
          bridging the gap between dreams and ownership while fostering trust
          and peace of mind
        </p>
      </div>
      <div
        class="flex flex-col justify-center gap-1 bg-[#F9F087] p-5 md:p-10 rounded-lg"
      >
        <h6
          class="text-base md:text-2xl font-body-medium text-black text-opacity-90"
        >
          Vision Statement:
        </h6>
        <p class="text-base font-body-medium pt-2 text-black text-opacity-60">
          To be the leading provider of seamless and trustworthy real estate
          financing for Africans abroad, transforming lives by making home
          ownership in Africa a reality for every diaspora member seeking to
          invest in their future
        </p>
      </div>
    </section>
  </ThemeWrapper>
</section>
