---
import ThemeWrapper from "../components/ThemeWrapper.astro";

const data = [
  {
    id: "01",
    title: "Indicate interest & authorization",
    body: "You express interest and our team will get in touch to understand your needs more and then request for you to grant us authorization to run credit and basic background check.",
  },
  {
    id: "02",
    title: "Pre-approval",
    body: "We evaluate your financial profile and creditworthiness to issue a pre-approval, outlining how much you are eligible to access through our system.",
  },
  {
    id: "03",
    title: "Find and approve properties",
    body: "You selects find a property of choice provided by our trusted real estate developers. Alternatively, you let us know the location and address of any property you’ve found on your own and our team of legal and real estate expert verifies that the chosen property meets legal, regulatory and quality standard. All properties we financed must meet these standards and have proper documentation to prove it is worry-free.",
  },
  {
    id: "04",
    title: "Purchasing and legal",
    body: "You sign necessary documents and we worry about finalizing the paper works and mortgage details.",
  },
  {
    id: "05",
    title: "Insurance",
    body: "You have an option to include property and mortgage insurance which protects you in time of payment default, Job loss, total lost of property dues to unforeseen risk and natural  disasters.",
  },
  {
    id: "06",
    title: "Move in",
    body: "You take possession of the property, hassle-free.",
  },
];
---

<section class="bg-white pt-10 md:pt-24 pb-5 md:pb-28">
  <!-- <div class="dotted-lines"></div> -->
  <ThemeWrapper>
    <section class="w-full flex flex-col" id="ourmodel">
      <header
        class="flex flex-col lg:flex-row xl:flex-row justify-between lg:items-end xl:items-end"
      >
        <div class="flex flex-col gap-2 md:gap-6">
          <span class="text-sm text-[#FFB800] font-body-medium"
            >Our Model - how we work</span
          >
          <h1 class="max-w-xl font-body-bold text-2xl md:text-4xl">
            A Seamless Process.
          </h1>
          <!-- <p
            class="max-w-2xl font-body-medium text-sm md:text-base text-[#707070]"
          >
            The idea for Motherland was born from my hearing the incessant
            stories of hardworking diaspora Nigerians who have had their life's
            earnings squandered by someone who they trusted to build their
            retirement home. This is an unreliable retirement strategy for many
            diaspora Nigerians, who fall victim everyday.
          </p> -->
        </div>
        <button
          data-join-waitlist
          class="bg-main hidden md:hidden lg:flex xl:flex text-base font-body-bold rounded-lg py-[13px] px-8 text-white mt-5 lg:mt-0 xl:mt-0"
          >Get Started</button
        >
      </header>
      <section
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mt-6 md:mt-12 gap-4 md:gap-8"
      >
        {
          data?.map((item) => {
            return (
              <div class="w-full bg-lightMain py-8 md:py-12 px-5 md:px-8">
                <span class="font-body-bold text-xl md:text-2xl bg-white rounded-lg flex justify-center items-center h-14 w-14">
                  {item?.id}
                </span>
                <h5 class="text-lg font-body-bold pt-6 pb-3">{item?.title}</h5>
                <p class="text-sm md:text-base font-body-regular text-[#707070]">
                  {item?.body}
                </p>
              </div>
            );
          })
        }
      </section>
      <button
        data-join-waitlist
        class="bg-main lg:hidden xl:hidden text-base font-body-bold rounded-lg py-[13px] px-8 text-white mt-5 lg:mt-0 xl:mt-0"
        >Get started</button
      >
    </section>
  </ThemeWrapper>
</section>
