---
import PartnershipReactForm from "./Icons/PartnershipReactForm";
---

<div
  id="partnershipModal"
  class="fixed inset-0 bg-black bg-opacity-50 z-40 items-center justify-center hidden"
>
  <div
    class="bg-white relative p-5 rounded-lg h-4/5 md:h-auto w-[380px] md:w-[720px] overflow-scroll"
  >
    <button
      id="closeModal"
      class="px-2 absolute cursor-pointer top-2 right-2 py-2 bg-gray-200 rounded hover:bg-gray-300"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.758 17.243L12.001 12L17.244 17.243M17.244 6.75696L12 12L6.758 6.75696"
          stroke="black"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <div class="relative">
      <h1 class="text-xl font-body-medium max-w-48">Become a partner</h1>

      <div class="mt-10">
        <PartnershipReactForm client:only="react" />
      </div>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById(
    "partnershipModal"
  ) as HTMLDivElement | null;
  const closeButton = document.getElementById(
    "closeModal"
  ) as HTMLButtonElement | null;
  const watchDemoButtons = document.querySelectorAll<HTMLElement>(
    "[data-join-partnership]"
  );

  if (modal && closeButton) {
    watchDemoButtons.forEach((button) => {
      button.addEventListener("click", (e: Event) => {
        e.preventDefault();
        modal.classList.remove("hidden");
        modal.style.display = "flex"; // Add this line
      });
    });

    closeButton.addEventListener("click", () => {
      console.log("weoruaoeruaoru");
      modal.classList.add("hidden");
      modal.style.display = ""; // Add this line
    });

    // Similar change in the click outside listener
    modal.addEventListener("click", (e: MouseEvent) => {
      if (e.target === modal) {
        modal.classList.add("hidden");
        modal.style.display = ""; // Add this line
      }
    });
  }
</script>
